### Use BigQuery via magics
Connect google colab to BigQuery.

In [2]:
import pandas_gbq
from google.colab import auth

auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
# Display query output immediately

%%bigquery --project tcc-dgo-edsa
SELECT *
FROM `tcc-dgo-edsa.tcc_dgo_edsa.BW_DATA_MDM_20200929`

In [4]:
# Save output in a variable `df`

%%bigquery --project tcc-dgo-edsa df
SELECT *
FROM `tcc-dgo-edsa.tcc_dgo_edsa.BW_DATA_MDM_20200929`

In [5]:
df.head()

  COMPANY_CODE   COMPANY_CODE_TEXT  ... R_BUDGET_FY2018_ZAR HOLDING_CO_ID
0           20  Business Connexion  ...                0.00             -
1           20  Business Connexion  ...                0.00             -
2           20  Business Connexion  ...             2969.84             -
3           20  Business Connexion  ...                0.00             -
4           20  Business Connexion  ...                0.00             -

[5 rows x 27 columns]

In [8]:
# Check the column datatype

df.dtypes

COMPANY_CODE                  object
COMPANY_CODE_TEXT             object
PROFIT_CENTER                 object
PROFIT_CENTER_TEXT            object
COST_ELEMENT                  object
COST_ELEMENT_TEXT             object
CUSTOMER                      object
CUSTOMER_TEXT                 object
CUSTOMER_GROUP                object
CUSTOMER_GROUP_TEXT           object
SALES_CHANNEL_L2              object
SALES_CHANNEL_L2_TEXT         object
SALES_CHANNEL_L3              object
SALES_CHANNEL_L3_TEXT         object
GO_TO_MARKET_LEVEL_1          object
GO_TO_MARKET_LEVEL_1_TEXT     object
GO_TO_MARKET_LEVEL_2          object
GO_TO_MARKET_LEVEL_2_TEXT     object
CRO_AREA                      object
CRO_AREA_TEXT                 object
SALES_OFFICE_MD_NAV           object
SALES_OFFICE_MD_NAV_TEXT      object
ACTUAL_FY2018_ZAR            float64
BUDGET_FY2018_ZAR            float64
R_ACTUAL_FY2018_ZAR          float64
R_BUDGET_FY2018_ZAR          float64
HOLDING_CO_ID                 object
dtype: object

### Main Function

This is a function that partitions the columns based on their data types and pushes the column to the designated function to perform syntax analysis.

For example, if the column is numeric then it is pushed to a function that has properties that are numeric and a further check if it follows that numeric function.

A cell number is numeric, then it gets pushed to a function that checks for numbers.

In [ ]:
for key, value in df.items():

  if isinstance(df[col].dtypes, object):
    """ An account of all the fields with object data types """
    print(col)
  
  if isinstance(df[col].dtypes, int):
    """ An account of all the fields with integer data types """
    print(col)

  if isinstance(df[col].dtypes, float):
    """ An account of all the fields with float data types """
    print(col)

  if isinstance(df[col].dtypes, datetime64):
    """ An account of all the fields with datetime data types """
    print(col)

## Import Libraries

In [72]:
import re

### Phone Number Function
A function that assesses whether a numeric column with phone numbers is valid or not.

In [ ]:
def phone(x):
  """ A function that tests the syntax of a record to assess against
  a valid syntax of phone numbers"""
  
  pattern = "^\d{10}$"  # the phone pattern

  phone_validity = []  # a list of Y and N indicators for each phone number

  for i in x:
    if re.research(i, pattern):
      phone_validity.append('Y')
    else:
      phone_validity.append('N')

### Email Function
A function that assesses whether an alphanumeric column with email is valid or not.

In [ ]:
def email(x):
  """ A function that tests the syntax of a record to assess against
  a valid syntax of an email """
  
  pattern = "[A-Za-z0-9]+@[a-zA-Z]+\.(com|co.za)"  # the email pattern

  email_validity = []  # a list of Y and N indicators for each email address

  for i in x:
    if re.research(i, pattern):
      email_validity.append('Y')
    else:
      email_validity.append('N')

### Validity Measure function

A total count of all the total number of records with valid data values (with Y as an indicator) and all the totla number of records with invalid data values (with N as an indicator).  The percentages of valid and invalid records are calculated.

In [ ]:
""" To be modified. This is a dummy representation. """

def validity(valid, invalid):
  """This function calculation of columns with valid and invalid records"""

  total_count = len(df.index)                 # total number of records in a single column

  valid_perc = valid / total_count * 100      # percentage of valid records

  invalid_perc = invalid / total_count * 100  # percentage of invalid records